<article class="table-cmp">
  <h3 class="table-cmp__title">{{ title() }}</h3>
  <div class="table-cmp__container">
    <table>
      <thead>
        <tr>
          @for (column of columns(); track column.field) {
          <th
            class="truncate"
            app-table-head
            [column]="column"
            [selectedColumn]="selectedColumn()"
            [sort]="selectedColumn()?.field === column.field ? sort() : 'Rand'"
            (click)="switchSortMetric(column)"
          ></th>
          }
        </tr>
      </thead>
      <tbody>
        @for (data of sortableData(); track $index) {
        <tr>
          @for (column of columns(); track $index) {
          <td class="truncate">
            {{ getCellData(column, data) }}
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
</article>
